<h1>問題一覧</h1>

<div>
    <% @qNum = 1%>
    <%= @nickname%>
    <% while @qNum <16 %>
        <a href="/home/question/<%="#{@qNum}"%>/<%="#{@nickname}"%>" class="question_btn">
            <%="#{@qNum}"%>
        </a>

<% 
=begin
%>
        <% if @poqNum_checker[@qNum-1] == 1%>
            <img src="/CLEAR!.png" class="clear_band">
        <% end %></a>
<% 
=end
%>

        <% if @qNum % 5 == 0%>
            <br>
        <% end %>
        <% @qNum += 1 %>
    <% end %>
</div>
