<h1>Q1</h1>

<% if Log.find_by(content: @nickname)%>
    <p>解答済みです</p>
<% else %>
    <%= form_tag("/home/confirm/#{@nickname}") do %>
        <input name="selfanswer"  placeholder="答えを入力" autocomplete="off">
        <input type="submit" value="解答" class="btn-1">
    <% end %>
<% end %>

<div class="status">いまなら3点</div>